@import variables

.categories-wrapper 
  display: flex
  padding: 1em 0
  height: 100%
  flex-direction: column
  row-gap: 0.5em
  overflow-y: auto

.category-wrapper 
  padding: 0 1em
  display: flex
  justify-content: space-between
  border: 2px solid $main-text-color
  *
    line-height: 3em
    cursor: pointer
  .category-link
    width: 90%
    