.quiz-container
  padding: 1em
  height: 90vh
  text-align: center

.quiz-question
  line-height: 2em

.quiz-variants
  margin-top: 0.5em
  display: grid
  grid-template: 50% 50% / 50% 50%
  align-items: center
  justify-items: center
  gap: 0.5em

.button.artist-answer
  width: 100%
  padding: 0.5em
  font-size: 0.8em

.artist-question
  max-height: 50vh

.answer-result
  position: absolute
  top: 0
  left: 0
  padding: 1em
  width: 100vw
  max-height: 90vh
  display: flex
  flex-direction: column
  align-items: center
  background: $form-bkg-color

.result-text
  text-align: center
  font-size: 0.8em
  padding: 0.3em 0

.result-picture
  height: 50vh

.result-image
  width: 100%
  height: 100%

.button.result-link
  margin: 0.5em 0
  padding: 0.3em
  line-height: 1em

.result-marker
  margin-bottom: 0.2em
  padding: 5px
  display: block
  height: 50px
  text-align: center
  width: 45px
  line-height: 30px
  font-size: 30px
  color: #b60000
  border: 2px solid #5f0000
  border-radius: 50%
  

.result-marker.right
  color: #00b600
  border-color: #005f00

