.settings
    display: flex
    flex-direction: column
    row-gap: 1em
    align-items: center
    [type='range']
        width: 90%
        height: 3px
        &::-webkit-slider-thumb
            -webkit-appearance: none
            cursor: ew-resize

.link-back
    position: absolute
    left: 0
    width: 2em
    height: 2em
    line-height: 2.1em
    text-align: center

.settings-field-header
    margin: 0
    font-size: 2rem

.volume
    display: block
    width: 2rem
    height: 2rem
    background: url(./assets/images/svg/volume.svg) no-repeat center / contain

.volume.mute
    background: url(./assets/images/svg/mute.svg) no-repeat center / contain
