.settings
    display: flex
    flex-direction: column
    row-gap: 1em
    align-items: center
    [type='range']
        width: 90%
        height: 3px
        &::-webkit-slider-thumb
            -webkit-appearance: none
            cursor: ew-resize

.link-back
    position: absolute
    left: 0
    width: 2em
    height: 2em
    line-height: 2.1em
    text-align: center

.settings-field-header
    margin: 0
    font-size: 1.5rem

.volume
    display: block
    width: 2rem
    height: 2rem
    background: url(./assets/images/svg/volume.svg) no-repeat center / contain

.volume.mute
    background: url(./assets/images/svg/mute.svg) no-repeat center / contain


label
  &:last-child 
    border-bottom: 1px solid #BBB
  input 
    display: none
  i 
    display: inline-block
    float: right
    padding: 2px
    width: 40px
    height: 20px
    border-radius: 13px
    vertical-align: middle
    transition: .25s
    position: relative
    background: $main-text-color
    box-sizing: initial
    &:after
      content: " "
      display: block
      width: 20px
      height: 20px
      border-radius: 50%
      background: #fff
      position: absolute
      left: 2px
      transition: .25s
  
  input:checked + i 
    background: $green-border

  input:checked + i:after
    left: 22px
  
  &:hover 
    cursor: pointer 
