$button-color: #FFBCA2
.settings
    height: 100vh
    z-index: 100
.settings-field-header
    margin: 0
    text-align: center
    font-size: 2rem

.settings-field
    display: flex
    justify-content: space-around
    padding: 0.5em
    [type='range']
        margin-bottom: 1em
        width: 90%
        height: 3px
        &::-webkit-slider-thumb
            -webkit-appearance: none
            cursor: ew-resize
.volume
    display: block
    width: 2rem
    height: 2rem
    background: url(./assets/images/svg/volume.svg) no-repeat center / contain

.volume.mute
    background: url(./assets/images/svg/mute.svg) no-repeat center / contain
